*{
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: #39464d !important;
}
span{
color: #1380F9 !important;
}
p{
color: #7292A6 !important;
}
.footer h1, .feedback h1,.contactform h1{
 color: #fff !important;
}
.footer p,.feedback p ,.contactform p{
    color: #eee !important;
}
.btn-bg{
    background-color: #1380F9;
}
.chats p{
    color: rgb(0, 32, 30) !important;
}
.chats .user-text{
    color: #fff !important;
}
@media(max-width: 900px) {
    .nav {
        display: none;
    }
  
    /*    Hamburger Menu*/
    .hamburger-menu {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
  
    .hamburger-menu .hamburger-inner {
        position: fixed;
        left: -15px;
        top: -15px;
        z-index: 500;
        width: 85px;
        height: 85px;
        background: #ffffff;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        box-shadow: 0 0 10px 10px rgba(59, 130, 246, 0.1);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .hamburger-menu .hamburger-icon {
        position: absolute;
        width: 30px;
        height: 2px;
        top: 45px;
        left: 30px;
        background: #000;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
  
    .hamburger-menu .hamburger-icon:after,
    .hamburger-menu .hamburger-icon:before {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
    }
  
    .hamburger-menu .hamburger-icon:before {
        top: -10px;
    }
  
    .hamburger-menu .hamburger-icon:after {
        bottom: -10px;
    }
  
    .hamburger-menu input {
        display: none;
    }
  
    .hamburger-menu input:checked+.hamburger-inner {
        box-shadow: 0 0 0 100vw #ffffff, 0 0 0 100vh #ffffff;
        border-radius: 0;
    }
  
    .hamburger-menu input:checked+.hamburger-inner .hamburger-icon {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
  
    .hamburger-menu input:checked+.hamburger-inner .hamburger-icon:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;
    }
  
    .hamburger-menu input:checked+.hamburger-inner .hamburger-icon:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;
    }
  
    .hamburger-menu label input:checked+.hamburger-inner+ul {
        opacity: 1;
        visibility: visible;
    }
  
    .hamburger-menu label ul {
        z-index: 600;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    }
  
    .hamburger-menu label ul li {
        z-index: 600;
        display: block;
        text-align: center;
    }
  
    .hamburger-menu label a {
        z-index: 600;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 22px;
        display: block;
        color: #000;
        text-decoration: none;
    }
  
    .hamburger-menu label a:hover {
        color: #1380F9;
    }
  }
  
  
  @media(min-width: 900px) {
    .hamburger-menu {
        display: none;
    }
  }

  /* can be configured in tailwind.config.js */
  .group:hover .group-hover\:block {
    display: block;
  }
  .hover\:w-64:hover {
    width: 45%;
    }
  
  /* NO NEED THIS CSS - just for custom scrollbar which can also be configured in tailwind.config.js*/
  ::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #2d3748;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  ::-webkit-scrollbar-track {
    background: rgb(143, 143, 143);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #999999;
  }
  ::-webkit-scrollbar-track:active {
    background: #999999;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
